name: GitHub CI

on:
  pull_request:
  push:
  schedule:
    - cron: 0 10 * * Mon

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  generate-jobs:
    name: Generate Jobs
    runs-on: ubuntu-latest
    outputs:
      strategy: ${{ steps.generate-jobs.outputs.strategy }}
    steps:
      - uses: actions/checkout@v3
      - uses: docker-library/bashbrew@v0.1.13
      - id: generate-jobs
        name: Generate Jobs
        run: |
          strategy="$(GITHUB_REPOSITORY=nginx "$BASHBREW_SCRIPTS/github-actions/generate.sh")"
          strategy="$(GITHUB_REPOSITORY=nginx "$BASHBREW_SCRIPTS/github-actions/munge-i386.sh" -c <<<"$strategy")"
          strategyu="$(jq 'walk(if type == "string" then gsub("nginx:"; "nginxinc/nginx-unprivileged:") else . end)' <<<"$strategy")"
          strategyu="$(jq 'walk(if type == "string" then gsub("^library/"; "unprivileged/") else . end)' <<<"$strategyu")"
          strategyu="$(jq 'walk(if type == "string" then gsub("'\''library/"; "'\''unprivileged/") else . end)' <<<"$strategyu")"
          strategyu="$(jq '.matrix.include[].name |= "unpriv " + .' <<<"$strategyu")"

          EOF="EOF-$RANDOM-$RANDOM-$RANDOM"
          echo "strategy<<$EOF" >> "$GITHUB_OUTPUT"
          jq --argjson unpriv "$strategyu" '.matrix.include += $unpriv.matrix.include' <<< "$strategy" | tee -a "$GITHUB_OUTPUT"
          echo "$EOF" >> "$GITHUB_OUTPUT"

  test:
    needs: generate-jobs
    strategy: ${{ fromJson(needs.generate-jobs.outputs.strategy) }}
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Prepare Environment
        run: ${{ matrix.runs.prepare }}
      - name: Pull Dependencies
        run: ${{ matrix.runs.pull }}
      - name: Build ${{ matrix.name }}
        run: ${{ matrix.runs.build }}
      - name: History ${{ matrix.name }}
        run: ${{ matrix.runs.history }}
      - name: Test ${{ matrix.name }}
        run: ${{ matrix.runs.test }}
      - name: '"docker images"'
        run: ${{ matrix.runs.images }}
